*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    background-color: rgb(219, 231, 230);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen{
    background-color:rgba(222, 226, 204, 0.452);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
}

.calculator-buttons{
    color: white;
    display: grid;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
} 

.calculator{
    width : 90%;
    max-width: 400px;
    background-color: silver;
    border-radius: 5px;overflow: hidden;
}

.button{
    border: .5px slategray;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


